header{
	height: 50px;
	background-color: #ffdddd
}
#wrapper{
	height: 100px;
	display: fix;
	justify-content: space-between;
}
#main {
  width: 34%;
  background-color: #ddffdd;
}
aside {
  width: 33%;
  background-color: #ffddff;
}
footer{
	height: 50px;
	background-color: #ddddff;
}